<%= render "shared/header" %>
<div class='main'>
  <div class='title-contents'>
    <h2 class='service-title'>
      あなたのクイズが人生を変える!!
    </h2>
    <p class='service-explain'>
      LAQはだれでもかんたんに問題・解答を投稿できる
    </p>
    <p class='service-explain'>
      アプリです
    </p>
  </div>
</div>
<%= link_to(new_question_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
<% end %>