* {
  box-sizing: border-box;
}

.top-page-header {
  height: 60px;
  background-color: #000;
  padding: 10px 0;
  display: flex;
}

.heading {
  width: 50%;
  margin-left: 30px;
}

.logo {
  color: white;
}

.navbar {
  width: 50%;
}

.nav-lists {
  display: flex;
  justify-content: flex-end;
}

.user-nickname {
  width:100px;
  font-size:14px;
  color:red;
  text-align:center;
  display:block;
  padding:10px 0 10px;
  background:#6BCBF6;
  border-radius: 20px;
  margin-right: 3vw;
}

.logout {
  width:100px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  display:block;
  padding:10px 0 10px;
  background:#6BCBF6;
  border-radius: 20px;
}

.login {
  width:100px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  display:block;
  padding:10px 0 10px;
  background:#6BCBF6;
  border-radius: 20px;
  margin-right: 3vw;
}

.sign-up {
  width:100px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  display:block;
  padding:10px 0 10px;
  background:#6BCBF6;
  border-radius: 20px;
}