* {
  box-sizing: border-box;
}

.top-page-header {
  height: 60px;
  background-color: #000;
  padding: 10px 0;
  display: flex;
}

.heading {
  width: 50%;
  margin-left: 30px;
}

.logo {
  width: 100px;
}

.navbar {
  width: 50%;
}

.nav-lists {
  display: flex;
  justify-content: flex-end;
}

.user-nickname {
  display: inline-block;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  padding: 8px 20px;
  color: #FFFFFF;
  line-height: 1em;         /* 1行の高さ  */
  transition: .3s;
  border: 2px solid #f4f1f1;
  font-weight: bold;
  margin-right: 3vw;
}
.user-nickname:hover {
  color: #000066;     /* 背景色     */
  background: #ffffff;
}

.user-button {
  display: inline-block;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  padding: 8px 20px;
  color: #FFFFFF;
  line-height: 1em;         /* 1行の高さ  */
  transition: .3s;
  border: 2px solid #f4f1f1;
  font-weight: bold;
  margin-right: 3vw;
}

.user-button:hover {
  color: #000066;     /* 背景色     */
  background: #ffffff;
}