* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.lists-right {
  display: flex;
  list-style: none;
  padding: 1vh 0;
  margin:0 0 0 auto;
}

.user-nickname {
  width:100px;
  font-size:14px;
  color:red;
  text-align:center;
  display:block;
  padding:10px 0 10px;
  background:#6BCBF6;
  border-radius: 20px;
  margin-right: 3vw;
}

.logout {
  width:100px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  display:block;
  padding:10px 0 10px;
  background:#6BCBF6;
  border-radius: 20px;
}

.login {
  width:100px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  display:block;
  padding:10px 0 10px;
  background:#6BCBF6;
  border-radius: 20px;
  margin-right: 3vw;
}

.sign-up {
  width:100px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  display:block;
  padding:10px 0 10px;
  background:#6BCBF6;
  border-radius: 20px;
}