.answer-main-box {
  height: 100vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quiz-str {
  width: 300px;
  margin-top: 20px;
}

.quiz-box {
  height: 30px;
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #111111;
}

.answer-str {
  width: 300px;
  margin-top: 20px;
}

.answer {
  width: 300px;
  resize:none;
  margin-bottom: 30px;
}
